@import "/src/variables.scss";

/* Container for the divider text */
.container {
  display: flex; /* Matches flex */
  width: 100%; /* Matches w-full */
  flex-direction: column; /* Matches flex-col */
  padding-top: 1.75rem; /* Matches py-7 */
  padding-bottom: 1.75rem; /* Matches py-7 */
}

/* Divider styles */
.divider {
  text-align: center; /* Centers the text */
  font-size: 1.125rem; /* Matches text-lg */
  font-weight: 500; /* Matches font-medium */
  color: #6b7280; /* Matches text-gray-500 */
  position: relative;
}

.divider::before,
.divider::after {
  content: ""; /* Adds the lines */
  position: absolute;
  top: 50%; /* Center vertically */
  width: 40%; /* Adjust as needed for line length */
  height: 1px;
  background-color: $gray; /* Matches gray-300 */
}

.divider::before {
  left: 0; /* Aligns to the left */
}

.divider::after {
  right: 0; /* Aligns to the right */
}

/* Responsive Design */
@media (max-width: 640px) {
  .divider {
    font-size: 1rem; /* Slightly smaller text for mobile screens */
  }
}
